<% RAILS_DEFAULT_LOGGER.debug component.inspect %>

<div id="<%= slot_code %>" class="component quote <%= 'double' if expand %> <%= additional_classes %>">
  <%= image_tag(component.asset.url('220x120#', :jpg)) unless component.asset.nil? %>
  <blockquote>
    <p><%= h(component.quote) %></p>
    <cite><%= h(component.name) %></cite>
  </blockquote>

  <div class="quote-body hidden">
    <%= simple_format(component.body) %>
  </div>

  <%= link_to h(component.url_text), '#', :class => 'more', :onclick => 'return false;' %>
</div>
