<h1><%=h @node.title %></h1>

<%= component(@node, 'main_slot_0') %>

<div id="body"><%= @node.body.html_safe %></div>

<%= component(@node, 'small_slot_0') %>
<%= component(@node, 'small_slot_1') %>
<%= component(@node, 'small_slot_2') %>
<%= component(@node, 'small_slot_3') %>

<%= component(@node, 'wide_slot_0') %>
<%= component(@node, 'wide_slot_1') %>
<%= component(@node, 'wide_slot_2') %>
