<%= render 'menu' %>

<%= form_for([:noodall, :admin, @asset], :html => { :multipart => true, :id => ( 'uploader' if @asset.new_record? ) } ) do |f| %>
<div id="main-form">
  <%= f.error_messages %>
  <%= hidden_field_tag :pending, true if params[:pending] || controller.action_name == "pending" %>
  <p>
    <span class="tooltip" title="Enter a title for this asset">&nbsp;</span>
    <%= f.label :title %><br/>
    <span class="input-wrap"><%= f.text_field :title %></span>
  </p>
  <p>
    <span class="tooltip" title="Enter a description for this asset">&nbsp;</span>
    <%= f.label :description %><br/>
    <span class="input-wrap"><%= f.text_area :description %></span>
  </p>
  <% if @asset.video? -%>
  <p>
    <span class="tooltip" title="What part of the video do you want the thumbnail genreated from">&nbsp;</span>
    <%= f.label :video_thumbnail_offset, "Thumbnail Offset" %><br/>
    <span class="input-wrap"><%= f.select :video_thumbnail_offset, 1..100 %>%</span>
  </p>
  <% end -%>
  <p>
    <span class="tooltip" title="Choose a file for this asset">&nbsp;</span>
    <%= f.label :file %><br/>
    <span class="input-wrap"><%= f.file_field :file %></span>
  </p>
  <p>
    <span class="tooltip" title="Enter some tags (comma separated) for this asset">&nbsp;</span>
    <%= f.label :tag_list, "Tags" %><br/>
    <span class="input-wrap"><%= f.text_field :tag_list %></span>
  </p>

  <p class="fixed-form">
    <%= f.submit @asset.new_record? ? 'Create' : 'Update', :disable_with => 'Submitting...', :class => 'update' %>

    <%= link_to 'Delete', noodall_admin_asset_path(@asset, :pending => true), :confirm => 'Are you sure?', :method => :delete, :class => 'delete', :title => 'Delete this asset' if params[:pending] || controller.action_name == "pending" %>
    <%= link_to 'Cancel', admin_assets_type_url(@asset), :class => 'cancel' %>
  </p>
</div>
<% end %>

<% unless @asset.new_record? %>
<div id="sub-form">
  <div id="image">
  <% if @asset.image? or @asset.video? %>
    <%= image_tag( @asset.url('260x', @asset.web_image_extension), :alt => @asset.description, :id => "asset-#{@asset.id}" ) %>
    <% else -%>
    <%= link_to( @asset.file.name, @asset.url, :title => @asset.description, :id => "asset-#{@asset.id}" ) %>
  <% end -%>
  </div>
</div>
<% end -%>
