<ol class="tree <%= params[:scope_with] %>">
<% if @parent.nil? %>
  <% if params[:mode] == 'parent' %>
  <li><a id="id-none" class="<%= params[:mode] %>" href="/">Root</a></li>
  <% end %>
<% elsif @parent.parent_id? %>
  <li><%= link_to 'Up', tree_noodall_admin_node_path(@parent.parent_id, params), :class => 'expand' -%></li>
<% else %>
  <li><%= link_to 'Up', tree_noodall_admin_nodes_path(params.reject{|k,v| k == 'id'}), :class => 'expand' -%></li>
<% end %>
<% for node in @nodes %>
  <li>
    <% if params[:mode] == 'link' or ( params[:allowed_types] && params[:allowed_types].include?(node.class.to_s) && node.id.to_s != params[:not_branch] && !node.path.map(&:to_s).include?(params[:not_branch]) ) %>
      <%= link_to h(node.title), node_path(node), :id => "id-#{node.id}", :class => params[:mode] %>
    <% else %>
      <%= node.title %>
    <% end %>
    <%= link_to '+', tree_noodall_admin_node_path(node, params), :class => 'expand' unless node.children.count.zero? -%>
  </li>
<% end -%>
</ol>
<%= javascript_tag "$('ol.tree li a.expand').fancybox()" %>
