<p>
  <span class="tooltip" title="Enter the UCAS code for this course">&nbsp;</span>
  <%= f.label :ucas_code, 'UCAS Code' %><br/>
  <span class="input-wrap"><%= f.text_field :ucas_code %></span>
</p>

<p>
  <span class="tooltip" title="Enter the required UCAS score">&nbsp;</span>
  <%= f.label :ucas_score, 'UCAS Score' %><br/>
  <span class="input-wrap"><%= f.text_field :ucas_score %></span>
</p>

<p>
  <span class="tooltip" title="Enter a Programme Manager for this course">&nbsp;</span>
  <%= f.label :programme_manager %><br/>
  <span class="input-wrap"><%= f.text_field :programme_manager %></span>
</p>

<p>
  <span class="tooltip" title="Enter a contact telephone number">&nbsp;</span>
  <%= f.label :telephone %><br/>
  <span class="input-wrap"><%= f.text_field :telephone %></span>
</p>

<p>
  <span class="tooltip" title="Enter a contact email address">&nbsp;</span>
  <%= f.label :email %><br/>
  <span class="input-wrap"><%= f.text_field :email %></span>
</p>

<p>
  <span class="tooltip" title="Enter the amount of Lecturer Content Time">&nbsp;</span>
  <%= f.label :lecturer_content_time, "Lecturer Content Time" %><br/>
  <span class="input-wrap"><%= f.text_field :lecturer_content_time %></span>
</p>

<%= render :partial => 'body', :locals => { :f => f }  %>

<% content_for :component_table do %>
<table class="component-table">
  <tr>
    <td rowspan="2" class="content"></td>
    <td colspan="3"><a href="#main_component_form_0" class="slot_link">1</a></td>
  </tr>
  <tr>
    <td colspan="2" rowspan="4" class="content"></td>
    <td><a href="#small_component_form_0" class="slot_link">5</a></td>
  </tr>
  <tr>
    <td><a href="#small_component_form_1" class="slot_link">6</a></td>
    <td><a href="#small_component_form_2" class="slot_link">7</a></td>
  </tr>
  <tr>
    <td></td>
    <td><a href="#small_component_form_3" class="slot_link">8</a></td>
  </tr>
  <tr>
    <td></td>
    <td><a href="#small_component_form_4" class="slot_link">9</a></td>
  </tr>
  <tr>
    <td></td>
    <td colspan="2"><a href="#wide_component_form_0" class="slot_link">2</a></td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td colspan="2"><a href="#wide_component_form_1" class="slot_link">3</a></td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td colspan="2"><a href="#wide_component_form_2" class="slot_link">4</a></td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
</table>
<% end -%>

