<% content_for :header, javascript_include_tag( 'tiny_mce/jquery.tinymce.js', 'admin/tiny_mce_config', 'admin/nodes', 'admin/assets' ) %>


<h1>Editing Content</h1>
<p>* Required Fields</p>

<%= form_for(@node, :as => :node, :url => noodall_admin_node_path(@node), :html => {:method => :put, :id => "node-form"}) do |f| %>
  <%= f.error_messages %>

  <div id="main-form">

    <p>
      <span class="tooltip" title="Enter a title for this page (used in page headings and titles)">&nbsp;</span>
      <%= f.label :title, 'Title *' %><br/>
      <span class="input-wrap"><%= f.text_field :title %></span>
    </p>
    <p>
      <span class="tooltip" title="Enter a name for this page (used in links and navigation, defaults to title)">&nbsp;</span>
      <%= f.label :name %><br/>
      <span class="input-wrap"><%= f.text_field :name %></span>
    </p>

    <%= render :partial => "admin/nodes/#{@node.class.name.underscore}", :locals => { :f => f }  %>

    <p>
      <span class="tooltip" title="Enter a short summary of this content.">&nbsp;</span>
      <%= f.label :description, "Short Description" %><br/>
      <span class="input-wrap"><%= f.text_area :description, :class => 'description' %></span>
    </p>

    <p>
      <span class="tooltip" title="Enter a comma seperated list of keywords to describe this content.&quot;website,launch,event&quot;">&nbsp;</span>
      <%= f.label :keywords, "Keywords" %><br/>
      <span class="input-wrap">
        <%= f.text_field :keywords, :class => "keywords-completer" %><br/>
        <span class="tags"><strong>Popular Tags: </strong><%= popular_tags %></span>
      </span>
    </p>

  </div>

  <div class="fixed-form">
    <div id="buttons">
      <%= f.submit 'Publish', :title => "Save and put live", :class => 'publish', :id => "publish", :name => 'node[publish]' if can_publish?(@node) %>
      <%= f.submit 'Draft', :title => "Save this to edit later", :name => "draft", :class => 'draft' %>
      <%= link_to 'Versions', noodall_admin_node_versions_path(@node), :title => "View document history", :id => "versions-button" %>
      <%= f.submit 'Hide', :title => "Temporarily hide this page", :name => 'node[hide]', :id => 'hide' %>
      <%= link_to 'Cancel', @node.root? ? noodall_admin_nodes_path : noodall_admin_node_nodes_path(@node.parent), :class => 'cancel'  %>
    </div>

    <% if can_publish?(@node) %>
      <!-- Advanced Publishing Options -->
      <div class="show-advanced">
        <fieldset>
          <legend class="advanced">Advanced</legend>
          <div id="advanced">

             <div class="published-section advanced-block">
                  <p class="published">
                     <%= f.label :published_at, "Publish at" %><br/>
                     <span class="input-wrap"><%= f.datetime_select :published_at, :include_blank => true  %></span>
                   </p>

                   <p class="published">
                     <%= f.label :published_to, "Publish until" %><br/>
                     <%
                       # Remove select for far future dates
                     @node.published_to = nil unless @node.published_to.nil? or @node.published_to < 5.years.from_now
                   %>
                 <span class="input-wrap"><%= f.datetime_select :published_to, :include_blank => true %></span>
               </p>

               <div class="version_message_section advanced-block">
                 <p>
                   <%= f.label :version_message %><br />
                   <span class="input-wrap"><%= f.text_field :version_message -%></span>
                 </p>
               </div>

            </div>

                <% if current_user.admin? -%>
                <div class="permissions-section advanced-block">
                   <fieldset>
                     <span class="tooltip" title="If you have created different permission groups for users, you can assign different actions for these users based on their roles. Fill out below to determine which roles can perform certain tasks.">&nbsp;</span>
                     <legend>User Permission</legend>
                     <span class="input-wrap">
                       <table>
                         <thead>
                           <tr>
                             <th width="85">Action</th>
                             <th width="90%">Groups</th>
                           </tr>
                         </thead>
                         <tbody>
                           <tr>
                             <th><%= f.label :updatable_groups_list, "Update" %></th>
                             <td><%= f.text_field :updatable_groups_list, :class => "groups-completer" %></td>
                           </tr>
                           <tr>
                             <th><%= f.label :publishable_groups_list, "Publish" %></th>
                             <td><%= f.text_field :publishable_groups_list, :class => "groups-completer" %></td>
                           </tr>
                           <tr>
                             <th><%= f.label :destroyable_groups_list, "Delete" %></th>
                             <td><%= f.text_field :destroyable_groups_list, :class => "groups-completer" %></td>
                           </tr>
                           <tr>
                             <th><%= f.label :viewable_groups_list, "View" %></th>
                             <td><%= f.text_field :viewable_groups_list, :class => "groups-completer" %></td>
                           </tr>
                         </tbody>
                       </table>
                     </span>
                   </fieldset>
                   </div>
                 <% end -%>




        <div class="position-section advanced-block">
          <% unless @node.in_site_map? %>
            <p>
              <span class="node-mover">Parent Content</span>
              <span class="input-wrap" id="parent-title">
                <%= @node.root? ? "Root" : @node.parent.title %>
                <a href="#" class="edit-item">Edit</a>
              </span>
              <%= f.hidden_field :parent, :value => @node.parent_id %>
              <%= hidden_field_tag :parent_types, @node.class.parent_classes.join(','), :disabled => true %>
            </p>

            <!-- PAGE URL -->
            <p>
              <span class="tooltip" title="You can leave as default value shown or if you want to create a custom URL for this page do not include a forward slash at the beginning of the URL."> &nbsp; </span>
              <%= f.label :permalink, 'Page Url' %><br/>
              <span class="input-wrap"><%= f.text_field :permalink %></span>
            </p>
          <% end %>
          <!-- BROWSER TITLE -->
          <p>
            <span class="tooltip" title="This is normally the title shown at the very top of your browser window."> &nbsp; </span>
            <%= f.label :browser_title, 'Browser Title' %><br/>
            <span class="input-wrap"><%= f.text_field :browser_title %></span>
          </p>
        </div>

        <div class="version_message_section">
          <p>
            <%= f.label :version_message %><br />
            <span class="input-wrap"><%= f.text_field :version_message -%></span>
          </p>
        </div>
      </div>
    </fieldset>
  </div>
<% end -%>
  </div>

  <% unless @node.class.slots_count == 0 %>
    <div id="sub-form">

      <h2>Page Components</h2>

      <span class="tooltip" title="Please choose where you would like to place each component">&nbsp;</span>

      <%= yield :component_table %>

      <% if can_change_templates?(@node) %>
        <%= link_to "Change Template", change_template_noodall_admin_node_path(@node), :class => 'change' %>
      <% end -%>

      <div id="modules-list">
        <!-- Component lightbox related stuff -->
        <ol id="slot-list">
          <%
            Noodall::Component.possible_slots.each do |type|
              @node.class.send("#{type}_slots_count").to_i.times do |index| %>
              <li>
                <%= slot_link(@node,type,index) %>
                <%= slot_form(@node,type,index) %>
              </li>
            <% end -%>
          <% end -%>
        </ol>
      </div>

    </div>
  <% end -%>

<% end %>
