<% fields_for :node do |n| %>
<%   n.fields_for slot_name, component do |f| %>
    <%= f.hidden_field :_type %>

    <div id="content-table">
     <table border="0" cellspacing="0" cellpadding="0" class="content comments">
      <thead>
        <tr>
          <th>Name</th>
          <th>Comment</th>
          <th>Created</th>
          <th colspan="2">Actions</th>
        </tr>
      </thead>
      <tbody>
    <% component.comments.each do |comment| -%>
        <tr id="comment-<%= comment.id %>">
          <td><%= mail_to comment.email, comment.name %></td>
          <td><%=h comment.comment %></td>
          <td class="date"><%= comment.created_at.to_formatted_s(:short) %></td>
          <td><%= link_to 'Delete', admin_comment_path(comment), :class => 'delete' %></td>
        </tr>
    <% end -%>
      </tbody>
      <tfoot>
        <tr>
          <th>Name</th>
          <th>Comment</th>
          <th>Created</th>
          <th colspan="2">Actions</th>
        </tr>
      </tfoot>
    </table>
</div>

<%   end
   end %>