<% fields_for :node do |f| %>
<%   f.fields_for slot_name, component do |c| %>
<div class="multi-file-component">
  <%= c.hidden_field :_type %>
  <fieldset class="multi-file-details">
    <legend>Gallery Details</legend>
    <p>
      <%= c.label :title, "Title" %><br />
      <span class="input-wrap"><%= c.text_field :title %></span>
    </p>

    <p>
      <%= c.label :body, "Description" %><br />
      <span class="input-wrap"><%= c.text_area :body, :rows => 4 %></span>
    </p>
<% unless slot_name =~ /small/ %>
    <p>
      <%= c.label :style %><br />
      <span class="input-wrap"><%= c.select :style, ['widget', 'list'] %></span>
    </p>
<% end -%>
  </fieldset>
<%= render :partial => 'admin/components/multi_file_images', :locals => { :component => component, :slot_name => slot_name } %>
</div>
<%   end
   end %>