<% fields_for :node do |f| %>
<%   f.fields_for slot_name, component do |f| %>
      <%= f.hidden_field :_type %>
      <%= error_messages_for :object => component %>

      <p>
        <%= f.label :category %><br/>
        <span class="input-wrap"><%= f.select :category, OpenDay.category_names, :include_blank => 'Both' %></span>
      </p>

      <p>
        <%= f.label :url %><br/>
        <span class="input-wrap">
          <%= f.text_field :url %><br/>
          <span class="link-node">Content</span> |
          <span class="link-asset">Asset</span>
        </span>
      </p>

      <p>
        <%= f.label :url_text %><br/>
        <span class="input-wrap"><%= f.text_field :url_text %></span>
      </p>

<%   end
   end %>
