<% fields_for :node do |n| %>
<%   n.fields_for slot_name, component do |f| %>
  <%= f.hidden_field :_type %>
  <%= error_messages_for :object => component %>


  <p>
    <%= f.label :quote, 'Quotation' %><br />
    <span class="input-wrap"><%= f.text_area :quote, :cols => 40, :rows => 4 %></span>
  </p>

  <p>
    <%= f.label :name %><br />
    <span class="input-wrap"><%= f.text_field :name %></span>
  </p>

  <p class="file-selectable">
    <% unless component.asset.nil? %>
    <span class="file-detail"><%= component.asset.image? ? image_tag( component.asset.url('100x100', :jpg)  ) : asset_icon(component.asset) %></span>
    <% end -%>
    <span class="select-file">Select File</span>
    (<span class="types">Images</span>)
    <%= f.hidden_field :asset_id, :class => "asset_id" %>
  </p>

  <p>
    <%= f.label :url_text, 'Expand Label' %><br />
    <span class="input-wrap"><%= f.text_field :url_text %></span>
  </p>


  <p>
    <%= f.label :body, 'Body' %><br />
    <span class="input-wrap"><%= f.text_area :body, :cols => 80, :rows => 10 %></span>
  </p>




<%   end
   end %>