<% fields_for :node do |f| %>
<%   f.fields_for slot_name, component do |f| %>
  <%= f.hidden_field :_type %>
  <%= error_messages_for :object => component %>

  <p>
    <%= f.label :title %><br />
    <span class="input-wrap"><%= f.text_field :title %></span>
  </p>

  <p class="file-selectable">
    <% unless component.asset.nil? %>
    <span class="file-detail"><%= component.asset.image? ? image_tag( component.asset.url('100x100#', :jpg)  ) : asset_icon(component.asset) %></span>
    <% end -%>
    <span class="select-file">Select File</span>
    (<span class="types">Images</span>)
    <%= f.hidden_field :asset_id, :class => "asset_id" %>
  </p>

  <p>
    <%= f.label :body %><br />
    <span class="input-wrap"><%= f.text_area :body, :cols => 40, :rows => 4, :class => 'lite-editor' %></span>
  </p>
  <p>
    <%= f.label :url %><br />
    <span class="input-wrap">
      <%= f.text_field :url %><br/>
      <span class="link-node">Content</span> |
      <span class="link-asset">Asset</span>
    </span>
  </p>
  <p>
    <%= f.label :url_text, 'Url Label' %><br />
    <span class="input-wrap"><%= f.text_field :url_text %></span>
  </p>

<%   end
   end %>
