  <fieldset class="multi-file-files images">
  <legend>Images</legend>
  <p><span class="add-multi-asset">Add Another File</span></p>
  <ol>
<% component.contents.each_with_index do |content,i| %>
    <li class="multi-file file-selectable">
      <% unless content.asset.nil? %>
      <span class="file-detail"><%= content.asset.image? ? image_tag( content.asset.url('100x100#', :jpg)  ) : asset_icon(content.asset) %></span>
      <% end -%>
      <span class="delete" title="Remove this file">Delete</span>
      <span class="edit" title="Edit this file">Edit</span>
      <div class="file-form">
        <p>
          <span class="select-file">Select File</span>
          (<span class="types">Images</span>)
          <%= hidden_field_tag "node[#{slot_name}][contents][][asset_id]", content.asset_id, :id => "node_#{slot_name}_contents_#{i}_asset_id", :class => "asset_id" %>
        </p>
        <p>
          <%= label_tag "node_#{slot_name}_contents_#{i}_title", "File Title" %><br />
          <span class="input-wrap"><%= text_field_tag "node[#{slot_name}][contents][][title]", content.title, :id => "node_#{slot_name}_contents_#{i}_title" %></span>
        </p>
        <p>
          <%= label_tag "node_#{slot_name}_contents_#{i}_url", "File Url" %><br />
          <span class="input-wrap">
            <%= text_field_tag "node[#{slot_name}][contents][][url]", content.url, :id => "node_#{slot_name}_contents_#{i}_url" %><br/>
            <span class="link-node">Content</span> |
            <span class="link-asset">Asset</span>
          </span>
        </p>

        <p>
          <%= label_tag "node_#{slot_name}_contents_#{i}_target", "Target" %><br />
          <span class="input-wrap"><%= select_tag "node[#{slot_name}][contents][][target]", options_for_select({ 'Current Window' => '_self', 'New Window' => '_blank' }, content.target), :id => "node_#{slot_name}_contents_#{i}_target" %></span>
        </p>

        <p>
          <%= label_tag "node_#{slot_name}_contents_#{i}_body", "File Description" %><br />
          <span class="input-wrap"><%= text_area_tag "node[#{slot_name}][contents][][body]", content.body, :id => "node_#{slot_name}_contents_#{i}_body", :rows => 3 %></span>
        </p>

        <p><span class="done">Done</span></p>
      </div>
    </li>
<% end %>
  </ol>
  </fieldset>
