<%= fields_for :node do |n| %>
<%=   n.fields_for slot_name, component do |f| %>

  <%= f.hidden_field :_type %>

  <p>
    <%= f.label :title, "Title" %><br />
    <span class="input-wrap"><%= f.text_field :title %></span>
  </p>
  <p>
    <%= f.label :description %><br />
    <span class="input-wrap"><%= f.text_area :description, :cols => 40, :rows => 4 %></span>
  </p>

  <p class="file-selectable">
    <% unless component.asset.nil? %>
    <span class="file-detail"><%= component.asset.image? ? image_tag( component.asset.url('70x70#', :jpg)  ) : asset_icon(component.asset) %></span>
    <% end -%>
    <span class="select-file">Select File</span>
    (<span class="types">Images</span>)
    <%= f.hidden_field :asset_id, :class => "asset_id" %>
  </p>

  <p>
    <%= f.label :link %><br />
    <span class="input-wrap">
      <%= f.text_field :link %><br/>
      <span class="link-node">Content</span> |
      <span class="link-asset">Asset</span>
    </span>
  </p>

<%   end
   end %>
