<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
<!-- START META TAGS -->
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<meta http-equiv="content-language" content="en" />
<meta name="MSSmartTagsPreventParsing" content="true" />
<meta name="copyright" content="<%= Time.now.year %>, Beef" />
<meta name="web-author" content="Beef (www.wearebeef.co.uk)" />
<meta name="author" content="Beef"/>

<!-- END META TAGS -->
<title><%= admin_page_title %> | <%= Noodall::UI.app_name %> <%= Noodall::UI.system_name %></title>
<%= stylesheet_link_tag 'admin',  :media=>'screen,tv,projection' %>
<%= stylesheet_link_tag 'http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.0/themes/base/jquery.ui.all.css' %>

<!--[if IE 6]><%= stylesheet_link_tag 'admin/ie6',  :media=>'screen,tv,projection' %><![endif]-->
<!--[if IE 7]><%= stylesheet_link_tag 'admin/ie',  :media=>'screen,tv,projection' %><![endif]-->
<!--[if IE 8]><%= stylesheet_link_tag 'admin/ie8',  :media=>'screen,tv,projection' %><![endif]-->

<script src="http://www.google.com/jsapi" type="text/javascript"></script>
<script type="text/javascript">
  google.load("jquery", "1.4.2");
  google.load("jqueryui", "1.8");
</script>
<%= javascript_include_tag 'admin' %>
<%= csrf_meta_tag %>

<%= yield :header %>

</head>
<body id="<%= self.controller_name %>" class="<%= self.action_name %>">
  <!-- begin screen -->
  <div id="screen">
    <!-- begin header -->
    <div id="header">
      <h1><strong><%= Noodall::UI.app_name %></strong> <%= Noodall::UI.system_name %></h1>
      <ul id="status">
        <li><%= current_user.full_name %> is logged in</li>
        <li><%= link_to 'Sign Out', destroy_user_session_path, :method => :delete %></li>
        <li><%= link_to 'Live Site', '/' %></li>
      </ul>
    </div>
    <!-- end header -->
    <!-- begin navigation -->
    <ul id="topnav">
      <%= admin_menu_items %>
    </ul>
    <!-- end navigation -->

    <%= flash_messages %>

    <div id="content">
        <%= yield %>
    </div>

  </div>
  <!-- end screen -->
</body>
</html>
